@mixin background-border-color($bg-color, $border-color, $color) {
    background-color: $bg-color;
    border-color: $border-color;
    color: $color;
}

// ------------------------------------------
@mixin transform($args...) {
    -webkit-transform: $args;
    transform: $args;
}

// ------------------------------------------
@mixin transition($args...) {
    -webkit-transition: $args;
    transition: $args;
}

// ------------------------------------------
@mixin ifix-input ($color, $border-color, $background-color){
    background: $background-color;
    border-radius: 40px;
    border: 2px solid $border-color;
    color: $color;
    cursor: pointer;
    display: inline-block;
    font-family: "Open Sans",sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-decoration: none;
    @include transition( background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s );
    z-index: 0;
}

// ------------------------------------------
@mixin scrollbars{
    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-button {
        width: 4px;
        height: 4px;
    }

    &::-webkit-scrollbar-track {
        background: rgba($ifix-pink2,0.8);
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: $ifix-pink;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:window-inactive {
        background: rgba($ifix-pink,0.25);
    }
}

// ------------------------------------------
// Mixin iteration
@mixin transitionDelay {

    @for $i from 1 through 20 {
        &:nth-child(#{$i}) {
            -webkit-animation-delay: #{$i * .1}s;
            animation-delay: #{$i * .1}s;
        }
    }
}

// ------------------------------------------
// Media queries
@mixin mediaQueries ($type, $size) {
    @media only screen and ($type: $size) {
        @content;
    }
}

@mixin mediaQueries_width_640 {
    @media only screen and (max-width: $width_640) and (orientation: landscape) {
        @content;
    }
}

// Input Placeholder Mixin
// Usage @include placeholder { color: #999; }
@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &:-moz-placeholder { /* Firefox 18- */
    @content;
  }

  &::-moz-placeholder {  /* Firefox 19+ */
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}

@function parseInt($n) { /* 2 */
  @return $n / ($n * 0 + 1);
}

// Rem Mixin
// Usage: @include rem(font-size, 1.4rem); --> 14px
@mixin rem($property, $values) {
  $px : (); /* 3 */
  $rem: (); /* 3 */

  @each $value in $values { /* 4 */

    @if $value == 0 or $value == auto { /* 5 */
      $px : append($px , $value);
      $rem: append($rem, $value);
    }

    @else {
      $unit: unit($value);    /* 6 */
      $val: parseInt($value); /* 6 */

      @if $unit == "px" {  /* 7 */
        $px : append($px,  $value);
        $rem: append($rem, ($val / 10 + rem));
      }

      @if $unit == "rem" { /* 7 */
        $px : append($px,  ($val * 10 + px));
        $rem: append($rem, $value);
      }
    }
  }

  @if $px == $rem {     /* 8 */
    #{$property}: $px;  /* 9 */
  } @else {
    #{$property}: $px;  /* 9 */
    #{$property}: $rem; /* 9 */
  }
}

// Text truncate with ellipsis
@mixin truncateText($max-height, $lines){
  // BEGIN Fallback for non-webkit --------
  display: -webkit-box;
  max-height: $max-height;
  // END Fallback for non-webkit --------

  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  @content;
}