// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Regular font family
// @type List
$tipografia-texto-open-sans: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

// Colors
$ifix-blue	: #3551ad;
$ifix-blue1	: #1c368a;
$ifix-pink	: #ff4081;
$ifix-pink2 : #ff9cbf;
$ifix-white	: #fff;
$ifix-gray	: #333;
$ifix-gray1	: #666;
$ifix-gray2	: #ededed;
$ifix-gray3	: #f5f5f5;
$ifix-gray4	: #555;
$ifix-gray5	: #bdbdbd;
$ifix-gray6	: #f2f2f2;
$ifix-gray7	: #ccc;
$ifix-gray8	: #e7e7e7;
$ifix-gray9	: #ecf0f1;
$ifix-gray10: #999;
$ifix-gray11: #bdc3c7;
$ifix-gray12: #e3e3e3;
$ifix-gray13: #ececec;
$ifix-gray14: #e0e0e0;
$ifix-gray15: #e5e5e5;

$ifix-black	: #000;
$ifix-red	: #ff0000;
$ifix-md-red: #f44336;
$ifix-green : #4caf50;
$ifix-yellow: #ffa500;
$ifix-footer: #252525;
$ifix-footer2: #222;
$ifix-footer-link: #969696;

// Breakpoints map
$width_360:		360px ;
$width_425:		425px ;
$width_480:		480px ;
$width_550:		550px ;
$width_640:		640px ;
$width_768:		768px ;
$width_992:		992px ;
$width_1023:	1023px;
$width_1024:	1024px;
$width_1200:	1200px;
$width_1366:	1366px;

$height_430:	430px ;