// Global wrappers
// *******************************************************************************
body{
	background: #fff;
	font-family: "Open Sans";

	a, a:hover, a:focus, .btn, .btn:hover, button, button:hover {
		-webkit-transition: all 250ms ease-in-out 0s;
		transition: all 250ms ease-in-out 0s;
	}

	p{
		font-size: 1.5rem;
	}

}

.ifix-quote-wrapper {
    min-height: 50%;
    margin-bottom: 8%;
}

.ifix-title-wrapper{
	@include mediaQueries(max-width, $width_425) {
		p{
			font-size: 1.2rem;
		}
	}	
}



// Header
// -------------------------------------------------
#main-header{

	h1.logo{
		margin: 0;
		position: absolute;
		top: 10px; left: 31px;
		z-index: 1;

		@include mediaQueries(max-width, $width_425) {
			top: 2px; left: 0;
		}

		a{
			img{
				height: 35px;
			}
		}
	}

}



// Hero
// -------------------------------------------------
.sale-header{
	background: url(header-mpsale.jpg) no-repeat center bottom;
	background-size: cover;
	min-height: 326px;

	h2{
		color: $ifix-white;
		font-size: 5.6rem;
		font-weight: 600;
		margin: 91px 0 17px 0;
	
		@include mediaQueries(max-width, $width_425) {
			font-size: 2.6rem;
			margin-top: 98px;
		}

	}

	p{
		color: $ifix-white;
		font-size: 1.4rem;
		font-weight: 600;
		margin-bottom: 20px;

		@include mediaQueries(max-width, $width_425) {
			font-weight: normal;
			font-size: 1.2rem;
		}
	}

	.form-horizontal .has-feedback .form-control-feedback{
		font-size: 1.6rem;
		right: 0;
		top: 0;
	}

	@include mediaQueries(max-width, $width_425) {
		min-height: 342px;
	}
}

// carousel hogar
// -----------------------------
#productsHome{
	margin-bottom: 80px;

	li{
		padding-bottom: 10px;

		&:focus{
			outline: none;
		}


	}

	.product-box{
		border-radius: 6px;
		box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);

		img{
			border-radius: 5px 5px 0 0;
		}

		@include mediaQueries(max-width, $width_425) {
			height: 262px;
			max-height: 262px;
			position: relative;
		}
	}

	.main-info{
		padding: 15px;

		@include mediaQueries(max-width, $width_425) {
			padding: 15px 0;
		}

		h3{
			color: $ifix-gray;
			font-size: 1.5rem;
			font-weight: bold;
			height: 33px;
			margin: 0 0 5px 0;

			@include mediaQueries(max-width, $width_425) {
				font-size: 1.3rem;
			}
		}

		small{
			@include mediaQueries(max-width, $width_425) {
				font-size: 1rem;
			}
		}

		p{
			color: $ifix-gray5;
			font-size: 1.1rem;
		}

		a{
			@include mediaQueries(max-width, $width_425) {
				font-size: 1rem;

				position: absolute;
				bottom: 5%;
				left: 5%;
				right: 5%;
			}
		}
	}

	.slick-dots li.slick-active button:before{
		color: $ifix-pink;
	}
	.slick-dots li button:before{
		font-size: 10px;
	}

}

.text-pink{
	color: $ifix-pink;
}


//
// -----------------------------

#ifix-header-corp {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    position: relative;
}


.ifix-companies-headline {
    color: $ifix-white;
    font-size: 2.2em;
    line-height: 3.8rem;
    letter-spacing: 1px;
    margin-bottom: 30px;
    margin-top: 0;
    text-align: center;
    text-shadow: 1px 3px 6px rgba(0,0,0,0.1);

    span{
    	font-weight: 600;
    }
}


//
// -----------------------------
.mp-img{
	img{
		margin: 0 auto;
	}
}

small.crossPrice{
	display: block;
	font-weight: 600;
	margin-bottom: 20px;

	span{
		font-weight: normal;
		text-decoration: line-through;
	}

	strong{
		color: $ifix-pink;
		font-size: 1.4rem;
	}
}


.promos{
	.col-xs-6,
	.col-md-12{
		@include mediaQueries(max-width, $width_425) {
			padding: 0;

			.box-grid{
				border-radius: 0;
				margin-bottom: 0;
			}
		}
	}
}

.box-grid{
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 4px;
	display: table;
	margin-bottom: 20px;
	min-height: 415px; height: 415px;
	width: 100%;
	
	@include mediaQueries(max-width, $width_425) {
		height: 210px;
		min-height: 210px;
	}


	.vhcenter{
		display: table-cell;
		vertical-align: middle;
		text-align: center;

		h3{
			color: $ifix-white;
			font-size: 2rem;
			font-weight: 400;
			line-height: 30px;
			margin: 0 0 10px 0;

			@include mediaQueries(max-width, $width_425) {
				font-size: 1.3rem;
				line-height: normal;
			}

			span{
				display: block;
				font-size: 5.5rem;
				font-weight: bold;
				margin-bottom: 18px;

				@include mediaQueries(max-width, $width_425) {
					font-size: 2.8rem;
					margin-bottom: 0;
				}
			}
		}

		span.from{
			color: $ifix-white;
			display: block;
			font-size: 1.9rem;
			margin-bottom: 25px;

			@include mediaQueries(max-width, $width_425) {
				font-size: 1.2rem;
			}

			span{
				text-decoration: line-through;
			}

			strong{
				font-size: 2.5rem;

				@include mediaQueries(max-width, $width_425) {
					font-size: 1.5rem;
				}
			}
		}


		@include mediaQueries(max-width, $width_425) {
			.btn{
				font-size: 1rem;
			}
		}
	}

	&.aa{
		background-image: url(aire.jpg);
	}
	
	&.paint{
		background-image: url(pintura.jpg);
	}

	&.gnc{
		background-image: url(gnc.jpg);
	}

	&.cars{
		background-image: url(auto.jpg);
	}
}



//
// -----------------------------
.carshops-carousel{
	.carshop-item{
		img{
			width: 100%;
		}
	}
}

.ifix-carpaint-quote .carpaint-carshops .review-box .rating i,
.ifix-carpaint-quote .carpaint-carshops .slick-dots li.slick-active button:before{
	color: $ifix-pink;
}

#productsHome{
	.slick-prev:before, .slick-next:before{
		color: $ifix-gray7;
		font-size: 80px;
		font-family: "FontAwesome";
	}

	.slick-prev:before { content: "\f104";}
	.slick-next:before { content: "\f105";}

	@include mediaQueries(max-width, $width_425) {
		.slick-dots{ bottom: -70px;}

		.slick-prev{ left: -10px;}
		.slick-next{ right: -10px;}

		.slick-prev:before,
		.slick-next:before { font-size: 40px;}
	}
}

//
// -----------------------------
.why{

	img{
		margin-bottom: 9px;
		height: 107px; width: 130px;

		@include mediaQueries(max-width, $width_425) {
			width: 92px;
		}
	}

	h3{
		font-size: 1.6rem;
		font-weight: 600;
		margin: 0 0 45px 0;
		position: relative;

		@include mediaQueries(max-width, $width_425) {
			font-size: 1.2rem;
			margin-bottom: 25px;
		}

		&:after{
			border-bottom: 2px solid #ff4081;
			content: '';
			display: inline-block;
			margin: 13px auto 0 auto;
			position: absolute;
			left: 0;
			width: 11%; height: 1em;
		}
	}

	p{
		@include mediaQueries(max-width, $width_425) {
			font-size: 1.1rem;
		}
	}

}




@-webkit-keyframes fadeInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-1.334em) translateZ(0);
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeInTop {
  0% {
    opacity: 0;
    -moz-transform: translateY(-1.334em) translateZ(0);
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-1.334em) translateZ(0);
    -moz-transform: translateY(-1.334em) translateZ(0);
    -ms-transform: translateY(-1.334em) translateZ(0);
    -o-transform: translateY(-1.334em) translateZ(0);
    transform: translateY(-1.334em) translateZ(0);
  }
  100% {
    opacity: 1;
  }
}
.search-results {
	background: $ifix-white;
	border-radius: 0 0 6px 6px;
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
	max-height: 250px;
	overflow: scroll;
	position: absolute;
	top: 42px; left: 0;
	text-align: left;
	width: 100%;
	z-index: 999;

	display: none;

	.wrapper{

		a{
			color: $ifix-gray;
			padding-top: 5px;
			padding-bottom: 5px;

			img{
				border: 1px solid #ccc;
				border-radius: 6px;
			}

			.col-md-8{
				font-size: 1.2rem;

				span.from{
					span{
						text-decoration: line-through;
					}
				}

				strong{
					font-weight: normal;
				}
			}

			&:hover{
				background: $ifix-gray6;
			}
		}
	}

	.footer{
		background: $ifix-gray6;
		color: $ifix-gray;
		font-size: 1.2rem;
		padding: 10px 0;
		margin-top: 10px;

		a{
			font-size: 1.1rem;
			display: block;
		}
	}
}



#modalAviso{
	.modal-header{
		border: none;

		h2{
			font-size: 20px;
		}
	}

	.modal-footer{ border: none}
}