a:hover,
a:focus,
.btn:focus,
.btn.focus,
.btn:active:focus,
.btn:active.focus,
.btn.active:focus,
.btn.active.focus{
	outline: none;
	text-decoration: none;
}

// Variables  ------------------------------------------
//@import "helpers/_variables"; // Variables a utilizar en el sitio

// /* Globals
// *******************************************************************************/
//@import "helpers/_icons"; 	// Algunos íconos
@import 'abstracts/_variables',
		'abstracts/_mixins',
		'components/_buttons',
		'components/_titles',
		'pages/_carpaint',
		'vendors/_buttons-material',
		'vendors/slick-slider/_slick',
		'vendors/slick-slider/_slick-theme';



/* Layout
*******************************************************************************/
@import "layout/_header";	// La cabecera del sitio
	@import "interior"; 	// Los interiores y grueso del sitio
@import "layout/_footer";	// El pie desde los testimonios hasta el final