// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
// Boton standard de reset
.btn{
    background: $ifix-white;
    border-radius: 40px;
    border: 2px solid transparent;
    color: $ifix-gray;
    cursor: pointer;
    display: inline-block;
    font-family: "Open Sans",sans-serif;
    font-weight: 100;
    overflow: hidden;
    padding: 7px 15px;
    position: relative;
    text-align: center;  
    text-decoration: none;
    @include transition( background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s );
    vertical-align: middle;
    white-space: nowrap;
    z-index: 0;

    > svg{
      display: inline-block;
      position: relative;
      top: 1px;
      width: 25px;
      height: 15px;
    }

    &:focus,
    &:active:focus,
    &.active:focus,
    &.focus,
    &:active.focus,
    &.active.focus{ outline: 0;}

    &:hover,
    &:focus,
    &.focus{
        color: $ifix-gray;
        text-decoration: none;
    }

    &:active,
    &.active{
        background-image: none;
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        outline: 0;
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] .btn {
        cursor: not-allowed;
        filter: alpha(opacity=65);
        opacity: 0.65;
        pointer-events: none;
    }
}

// Btn default
.btn-default {
    @include background-border-color($ifix-white, $ifix-white, $ifix-gray);
    box-shadow: 0 10px 20px -5px $ifix-black;
    letter-spacing: 1px;
    position: relative;

    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active,
    .open > .dropdown-toggle.btn-default {
        @include background-border-color($ifix-pink, $ifix-pink, $ifix-white);
    }

    &:hover{
        > svg path, > svg rect{
          fill: $ifix-white;
        }
    }
}

.btn-default-alt {
  &:hover, &:focus, &.focus, &:active, &.active,
  .open > .dropdown-toggle.btn-default {
    @include background-border-color($ifix-blue, $ifix-blue, $ifix-white);
  }
}

// Botón primario
.btn-primary {
    @include background-border-color($ifix-blue, $ifix-blue, $ifix-white);

  &:hover, &:focus, &.focus, &:active, &.active,
  .open > .dropdown-toggle.btn-primary {
    @include background-border-color($ifix-blue, $ifix-blue, $ifix-white);
  }
}

.btn-primary-hover-alt {
  &:hover, &:focus, &.focus, &:active, &.active,
  .open > .dropdown-toggle.btn-primary-hover-alt {
    @include background-border-color(transparent, $ifix-blue, $ifix-blue);
  }
}

.btn-primary-alt {
    @include background-border-color(transparent, $ifix-blue, $ifix-blue);

    &:hover, &:focus, &.focus, &:active, &.active,
    .open > .dropdown-toggle.btn-primary-alt {
        @include background-border-color($ifix-blue, $ifix-blue, $ifix-white);
    }

}

// Botón secundario
.btn-secondary {
    @include background-border-color($ifix-pink, $ifix-pink, $ifix-white);

    &:hover, &:focus, &.focus, &:active, &.active,
    .open > .dropdown-toggle.btn-secondary {
        @include background-border-color($ifix-pink, $ifix-pink, $ifix-white);
    }
}

.btn-secondary-hover-alt {
    &:hover, &:focus, &.focus, &:active, &.active,
    .open > .dropdown-toggle.btn-secondary-hover-alt {
        @include background-border-color(transparent, $ifix-pink, $ifix-pink);
    }
}

.btn-secondary-alt {
    @include background-border-color(transparent, $ifix-pink, $ifix-pink);

    &:hover, &:focus, &.focus, &:active, &.active,
    .open > .dropdown-toggle.btn-secondary-alt {
        @include background-border-color($ifix-pink, $ifix-pink, $ifix-white);
    }
}

// Botón blanco
.btn-search-cats {
    background-color: $ifix-white;
    border: 1px solid transparent;
    box-shadow: 0 0 4px 1px $ifix-gray2;
    color: $ifix-gray;
    letter-spacing: 1px;

    &:hover, &:focus, &.focus, &:active, &.active {
        @include background-border-color($ifix-gray12, $ifix-gray12, $ifix-gray);
    }
}

// Button sizes
// -----------------------------------------------------------------------------
.btn-large{
    padding: 13px 22px;
}

.btn-tiny{
    font-size: 13px;
    padding: 9px 10px;
}

.btn-wide{
    padding: 11px 88px 10px 88px;
}

.btn-width-50{
    width: 50%;
}

.btn-width-80{
    width: 80%;
}

.btn-md-wide {
    padding: 6px 40px 6px 40px;
}
.btn-mini {
    font-size: 13px;
    padding: 6px 10px;
}

// Spacing
// -----------------------------------------------------------------------------
.btn-letter-spacing-1{
    letter-spacing: 1px;
}

.btn-multiple-lines{
    white-space: normal;
}

// Hovers
// -----------------------------------------------------------------------------
// Hover con animacion hacia arriba y con sombreado
.hvr-tr_bx-sh{
    will-change: transform, box-shadow;

    &:hover, &:hover, &:focus, &.focus{
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);

        @include transform( translateY(-5px) );
        @include transform( translate3d(0, -5px, 0) );

        @include mediaQueries (max-width, $width_425) {
            @include transform( translateY(0) );
            @include transform( translate3d(0, 0, 0) );
        }
    }
}