.ifix-carshop-box {
  padding: 0;
  @include mediaQueries(max-width,$width_768) {
    float: left;
    margin-bottom: 20px;
    display: flex;
    width: 100%;
  }
  h6 {
    font-style: normal;
    font-size: 1.1em;
    font-weight: 600;
    color: $ifix-gray;
    margin-bottom: 0;
    @include mediaQueries(max-width,$width_768) {
      font-size: 1em;
    }
  }
  .sliderWrapper {
    margin: 0;
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
    @include mediaQueries(max-width,$width_768) {
      margin: 0;
      width: 40%;
      float: left;
      height: 230px;
      @include mediaQueries(max-width,$width_425) {
        height: 275px;
      }
    }
    .slick-prev, .slick-next {
      z-index:1;
      margin-top: -5px;
      &:before {
        font-family:FontAwesome;
        font-size: 40px;
      }
    }
    .slick-prev {
      left:5px;
      &:before {
        content:"\f104";
      }
    }
    .slick-next {
      right:5px;
      &:before {
      content:"\f105";
      }
    }
  }
  .img-wrapper {
    margin: 0;
    background-size: cover;
    background-position: center;
    width: 100%;
    max-width: 100%;
    height: 200px;
    position: relative;
    @include mediaQueries(max-width,$width_768) {
      height: 230px;
    }
    @include mediaQueries(max-width,$width_425) {
      height: 275px;
    }
    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .text-wrapper {
    padding:15px;
    @include mediaQueries(max-width,$width_768) {
      width: 60%;
      float: left;
      padding:0 10px;
    }
  }
  .rating{
    i {
      color: $ifix-blue;
      @include mediaQueries(max-width,$width_768) {
        font-size: .8em;
      }
    }
    span {
      @include mediaQueries(max-width,$width_768) {
        font-size: .8em;
      }
    }
  }
  hr {
    margin:15px 0;
    @include mediaQueries(max-width,$width_768) {
      margin:10px 0;
    }
  }
  .shop-data-wrapper{
    min-height:80px;
  }
  .shop-data{
    display: block;
    font-size: 0.8em;
    line-height: 2em;
    margin-bottom: 5px;
    img {
      height:18px;
      margin-right:5px;
      float:left;
    }
    span {
      display: block;
      line-height: 1.6em;
    }
  }
  button{
    display: block;
    margin: 15px auto 0 auto;
    @include mediaQueries(max-width,$width_768) {
      margin:15px auto;
    }
    @include mediaQueries(max-width,$width_360) {
      padding: 6px 20px 6px 20px;
    }
  }
}