.car-hint {
  position:absolute;
}

.car-hint-btn {
  .circle {
    position:absolute;
    width:15px;
    height:15px;
    background:$ifix-blue;
    border-radius:50%;
    opacity:0.8;
    transition:opacity .2s ease-in;
    color:$ifix-white;
    font-size:1.5em;
    padding:0;
    text-align:center;
    line-height:32px;
    overflow:hidden;
    &:hover {
      opacity:1;
      cursor:pointer;
    }
    &:active {
      transform:scale(0.875);
    }
  }

  .ring {
    display:block;
    position:absolute;
    width:15px;
    height:15px;
    border-radius:50%;
    border:1px solid $ifix-blue;
    opacity:0;
    animation: pulsate 3s ease-out infinite;
  }

  &:hover .ring {
    animation: none;
  }

  &:active .ring {
    animation: stop-pulsate 0.3s;
  }
}

.car-hint-txt {
  border-radius:5px;
  padding:6px;
  position: absolute;
  background: $ifix-white;
  border: 1px solid $ifix-gray7;
  left: 25px;
  top: -19px;
  z-index:3;
  display:none;
  &.visible {
    display:block;
  }
  span {
    display:block;
    font-size:0.8em;
    line-height:1.6em;
    white-space: nowrap;
  }
  &::after, &::before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &::after {
    border-color: rgba(136, 183, 213, 0);
    border-right-color: $ifix-white;
    border-width: 10px;
    margin-top: -10px;
  }
  &::before {
    border-color: rgba(194, 225, 245, 0);
    border-right-color: $ifix-gray7;
    border-width: 11px;
    margin-top: -11px;
  }
}