
.sendingWrapper{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 65px;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $ifix-white;
  z-index: 990;
  display:none;
  span {
    color: $ifix-gray;
    display: block;
    position: relative;
    left: 50%;
    @include transform( translateX(-50%) );
    width: 125px;
    font-weight: bold;
    font-size:1.5em;

    &::after {
      overflow: hidden;
      display: inline-block;
      vertical-align: bottom;
      -webkit-animation: ellipsis steps(4,end) 900ms infinite;
      animation: ellipsis steps(4,end) 900ms infinite;
      content: "\2026";
      width: 0;
    }
  }
}

.sendingIcon {
  margin: 50px auto;
  font-size: 7em;
  width: 2em;
  height: 2em;
  svg {
    display: block;
    width: 100%;
    height: 100%;
    circle,
    polyline {
      fill: none;
      stroke-width: 6px;
      stroke-linecap: round;
      stroke-linejoin: round;
    }

    .circle-bg {
      stroke: $ifix-gray5;
    }

    .circle-color {
      stroke: $ifix-blue;
      stroke-dasharray: 537;
      stroke-dashoffset: 537;
    }
  }
  .check {
    stroke: $ifix-pink;
    stroke-dasharray: 47;
    stroke-dashoffset: -46;
  }
  &.isComplete{
    .circle-color {
      stroke-dashoffset: 0;
      transition: 1s;
    }
    .check {
      stroke-dashoffset: 0;
      transition: .5s;
    }
  }
  &.animating {
    .circle-color {
      animation: completeCircle 2s infinite;
    }
  }
}

@keyframes completeCircle {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 0;
  }
}