.ifix-title-wrapper{
	margin: 5% 0 6% 0;

	h1, h2 {
		display: inline-block;
		position: relative;
		text-transform: none;
		white-space: pre-line;

		&::after{
			content: '';

			border-bottom: 2px solid $ifix-pink;
			display: inline-block;
			margin: 15px auto 0 auto;
			
			position: absolute;
			left: 0; right: 0;
			
			width: 25%; height: 1em;
		}
	}
	h2 {
		letter-spacing: 1px;		
		margin-bottom: 40px;
	}
	
	h2.home{
		margin: 5% 0 8% 0;

		@include mediaQueries (max-width, $width_425) {
			margin-bottom: 15%;
		}
	}

	h2.primary::after{ border-bottom-color: $ifix-blue;}

	h3 {
		font-weight: 100;
		letter-spacing: 2px;
		margin-top: 2%;
		text-transform: none;
	}
	
	&.with-description{
		h2, p {
			margin-bottom:3%;
		}
		p{
			font-size: 1.2em;
			letter-spacing: 1px;
			line-height: 1.8em;
		}
	}
}

.ifix-title-with-description-wrapper {
	h2, h3 {
		white-space: pre-line;
		color: $ifix-gray4;
		font-size: 24px;
		font-weight: 600;
		letter-spacing: 5px;
		text-align: left;
		text-transform: none;

		display: inline-block;
		position: relative;
		margin-bottom: 24px;

		&::after{
			content: '';

			border-bottom: 2px solid $ifix-pink;
			display: inline-block;
			margin: 15px auto 0 auto;
			
			position: absolute;
			left: 0;
			
			width: 50%; height: 1em;
		}
	}
	p{
		font-size: 14px;
		line-height: 23px;
		margin-bottom: 2%;
	}
}

@include mediaQueries (max-width, $width_768) {
	.ifix-title-wrapper {
		h2{
			font-size: 22px;
			margin-top: 10%;
		}
		h3 { font-size: 19px; }
	}
}

@include mediaQueries (max-width, $width_425) {
	.ifix-title-wrapper {
		&.with-description{
			h2, p {
				margin-bottom: 7%;
			}
		}
	}
}

@include mediaQueries (max-width, $width_360) {
	.ifix-title-wrapper {
		h2{ margin-bottom: 10%;}
	}
}