extends layout

append config
	- var pageTitle = "IguanaFix - MercadoPago Sale"

//-block append stylesheets
	link( href="../css/home.css", rel="stylesheet", type="text/css" )

block content
	.primary-section.sale-header
		.container
			.row
				.col-md-12.text-center
					h2 72 horas de descuentos exclusivos
					p Promoción válida en servicios para tu hogar y tu Auto contratados <br> los días 8, 9 y 10 de Enero del 2018. ¡Incluso presupuestos!

					.row
						.col-md-6.col-md-offset-3
							form.form-horizontal
								fieldset
									.form-group.has-feedback
										input(type="text", placeholder="Buscá servicios con descuento")#search.form-control.input-lg
										span.fa.fa-search.form-control-feedback

							#results.search-results
								.content
								.footer.col-md-12.col-xs-12
									.col-md-8.col-xs-8 No es lo que estabas buscando? <br> Entrá a nuestra web para ver todos los servicios
									.col-md-4.col-xs-4
										a(href="https://www.iguanafix.com.ar/", target="_blank").btn.btn-secondary.hoverable.hvr-tr_bx-sh
											<span class="anim"></span> Ingresá

	//- END .sale-header


	.container
		.row
			.col-md-12.col-xs-12.text-center.mp-img
				img(src="mp-desk.png", alt="MercadoPago - Medios de pago").img-responsive.hidden-xs
				img(src="mp-mobile.png", alt="MercadoPago - Medios de pago").img-responsive.hidden-lg.hidden-md.hidden-sm




		//- BEGIN - Promos
		.row
			.col-md-6.col-md-offset-3
				.ifix-title-wrapper.text-center
					h2 Te aseguramos profesionales calificados y 6 meses de garantía
					p Si tu trabajo requiere un presupuesto, aplicaremos el descuento aún si lo pagás después de la vigencia de la promoción utilizando MercadoPago

			.col-md-12.promos
				.row
					.col-md-8.col-xs-6
						.box-grid.aa
							.vhcenter
								h3 <span>20% OFF</span> en instalación de <br> aires acondicionados
								span.from Desde <span>$3799</span> <strong>$3040</strong>
								a(data-toggle="modal" data-target="#modalAviso" data-url="https://www.iguanafix.com.ar/servicio-de-climatizacion_2/instalacion-aire-acondicionado-split_8?utm_source=mercadopago&utm_campaign=mp-2018c&utm_medium=email").btn.btn-secondary.btn-md-wide.hoverable.hvr-tr_bx-sh
									<span class="anim"></span> Contratá

					.col-md-4.col-xs-6
						.box-grid.paint
							.vhcenter
								h3 <span>15% OFF*</span> en presupuestos <br> de pintura y reformas
								a(data-toggle="modal" data-target="#modalAviso" data-url="https://www.iguanafix.com.ar/servicio-de-pintura_95/visita-y-presupuesto-de-pintura_116?utm_source=mercadopago&utm_campaign=mp-2018b&utm_medium=email").btn.btn-secondary.btn-md-wide.hoverable.hvr-tr_bx-sh
									<span class="anim"></span> Contratá
				//- End row
				
				.row
					.col-md-4.col-xs-6
						.box-grid.gnc
							.vhcenter
								h3 <span>$1000 OFF</span> en instalación de <br> equipos de GNC
								span.from Desde <span>$21000</span> <strong>$19000</strong>
								a(data-toggle="modal" data-target="#modalAviso" data-url="https://www.iguanafix.com.ar/servicio-de-equipos-de-gnc_217").btn.btn-secondary.btn-md-wide.hoverable.hvr-tr_bx-sh
									<span class="anim"></span> Contratá

					.col-md-8.col-xs-6
						.box-grid.cars
							.vhcenter
								h3 <span>10% OFF*</span> con tope de $1000 en <br> presupuestos de Chapa y Pintura
								a(data-toggle="modal" data-target="#modalAviso" data-url="https://www.iguanafix.com.ar/servicios/autos-chapa-y-pintura?utm_source=mercadopago&utm_campaign=mp-2018d&utm_medium=email").btn.btn-secondary.btn-md-wide.hoverable.hvr-tr_bx-sh
									<span class="anim"></span> Contratá
				//- End row

				.row
					.col-md-12.text-center
						p.text-pink * Sobre los presupuestos producto de una visita solicitada el 8, 9 o 10 de enero del 2018.
		//- END - Promos



		.row
			.col-md-12
				.ifix-title-wrapper.text-center
					h2 ¡10% de descuento en todos los servicios para tu hogar!
					p Plomería, electricidad, gas, mudanzas, instalaciones, pisos y pequeñas soluciones

				ul#productsHome.list-unstyled.list-inline
		
		//- End Row


	section#ifix-header-corp.content-section.full-width.primary-section(style="background-image: url('https://static.iguanafix.com/static/v2/images/business/bg-header_empresas.jpg');")
		.container#ifix-particles-container
			.row
				.col-xs-12.text-center
					h1.ifix-companies-headline ¿Sabías que también contamos con <br> servicios para 
						span Empresas?

					a(href="https://www.iguanafix.com.ar/empresas", target="_blank").btn.btn-secondary.btn-md-wide.hoverable.hvr-tr_bx-sh
						<span class="anim"></span> Conocenos





	.container
		.row
			.col-md-12
				.ifix-title-wrapper.text-center
					h2 ¿Por qué elegirnos?
					p Somos la empresa lider en latinoamerica de servicios para el hogar, el auto y la empresa.

				.row.why
					.col-md-4
						img(src="why1.svg", alt="").img-responsive
						h3 Compras
						p Podes solicitar tu servicio enteramente desde la web o aplicación móvil en pocos minutos y pagar en muchas cuotas con muchos bancos.

					.col-md-4
						img(src="why2.svg", alt="").img-responsive
						h3 Gestión
						p Nos encargamos de conseguir al mejor profesional para tu trabajo, asegurar la calidad, y darte soporte durante la postventa.

					.col-md-4
						img(src="why3.svg", alt="").img-responsive
						h3 El Profesional
						p Te enviamos los datos del profesional y un código de seguridad, el mismo te notifica cuando está en camino y auditamos la calidad de su trabajo una vez finalizado.


	.ifix-quote-wrapper.ifix-carpaint-quote
		.container-fluid
			.row
				.carpaint-carshops.col-xs-12
					.ifix-title-wrapper.text-center
						h2 Testimonios
					
					.carshops-carousel
						.carshop-item
							img(src="https://static-u.iguanafix.com/images/installation-type/392-1480131045358.jpg", alt="").img-responsive
							.review-box
								.rating
									i.fa.fa-star(aria-hidden="true")
									i.fa.fa-star(aria-hidden="true")
									i.fa.fa-star(aria-hidden="true")
									i.fa.fa-star(aria-hidden="true")
									i.fa.fa-star(aria-hidden="true")

								hr
								
								p.review-text Excelente servicio!! El profesional muy responsable y trabajador!!!
								span.review-user
									| Ruben
								span.review-location
									| Trabajo contratado: Plomeria. <br> Average: 5.0


						.carshop-item
							img(src="https://static-u.iguanafix.com/images/installation-type/60.jpg", alt="").img-responsive
							.review-box
								.rating
									i.fa.fa-star(aria-hidden="true")
									i.fa.fa-star(aria-hidden="true")
									i.fa.fa-star(aria-hidden="true")
									i.fa.fa-star(aria-hidden="true")
									i.fa.fa-star(aria-hidden="true")

								hr
								
								p.review-text Todo muy bien! el técnico muy amable y explicó muy claro todo.
								span.review-user
									| Leon
								span.review-location
									| Trabajo Contratado: Instalacion de AA <br> Average: 4,5

						.carshop-item
							img(src="https://static-u.iguanafix.com/images/installation-category/214-1484263953680.jpg", alt="").img-responsive
							.review-box
								.rating
									i.fa.fa-star(aria-hidden="true")
									i.fa.fa-star(aria-hidden="true")
									i.fa.fa-star(aria-hidden="true")
									i.fa.fa-star(aria-hidden="true")
									i.fa.fa-star(aria-hidden="true")

								hr
								
								p.review-text Servicio recomendable, todo muy bien.
								span.review-user
									| Fernando
								span.review-location
									| Trabajo: Chapa y pintura <br> Average: 5
 
	//- END .container