block config
	include config

doctype
html(lang="en")
	head
		title
			block title
				| #{pageTitle}

		meta( charset="utf-8" )
		meta( http-equiv="X-UA-Compatible", content="IE=edge" )
		meta( name="viewport", content="width=device-width, initial-scale=1" )
		meta( name="description", content="Contratá servicios para tu hogar y auto de manera simple, rápida y segura. La única herramienta que vas a necesitar" )
		meta( name="keywords", content="Soluciones, servicios, casa, auto, arreglos, instalaciones" )
		meta( name="author" content="IguanaFix SRL" )
		link( rel="icon" href="https://static.iguanafix.com/static/v2/images/favicon.ico?v=128" )

		//- Fonts -------------------------------
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800", type="text/css")

		//- Css -------------------------------
		block stylesheets
			link( href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", type="text/css", crossorigin="anonymous" )
			link( href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", type="text/css" )
			link( href="main.css", rel="stylesheet", type="text/css" )

		<meta property="og:site_name" content="IguanaFix">
		<meta property="og:title" content="IguanaFix - Contratá servicios para tu hogar y auto de manera simple, rápida y segura">
		<meta property="og:image" content="https://static.iguanafix.com/static/v2/images/meta/twi_app_customer.png?v=128">
		<meta property="og:description" content="Contratá servicios para tu hogar y auto de manera simple, rápida y segura. La única herramienta que vas a necesitar">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://www.iguanafix.com.ar/">
		<meta property="og:locale" content="og:locale:alternate" />
		<meta property="fb:app_id" content="513683775351392" />

		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@IguanaFix">
		<meta name="twitter:title" content="IguanaFix">
		<meta name="twitter:description" content="Contratá servicios para tu hogar y auto de manera simple, rápida y segura. La única herramienta que vas a necesitar">
		<meta name="twitter:creator" content="@IguanaFix">
		<meta name="twitter:image:src" content="https://static.iguanafix.com/static/v2/images/meta/twi_app_customer.png">
		<meta name="twitter:domain" content="iguanafix.com" />
		<meta name="twitter:app:url:googleplay" content="https://play.google.com/store/apps/details?id=com.marb.iguana&hl=es" />
		<meta name="twitter:app:id:googleplay" content="com.marb.iguana" />

		<meta name="google-site-verification" content="Otmg3BksNxZF1xKpY1Jjvii8_A1562OxuTsaDd45vv4" />
		<meta name="google-site-verification" content="Qm4akxVfOuXo1s4NzG83ZtbnlAeDX-TP-g6sOukxdZU" />
		<meta name="google-site-verification" content="un8LpGfadMRSRlirEc-9u4V5iq95Uk500kT8HP3YqbU" />
		<meta name="google-site-verification" content="bk4OYQee6fuFhmkg6PHa2ajCXxmg2iLdtOPxXzPqvzU" />
	//- END Head

	body
		//- Header
		header#main-header.main-header
			.container
				.header
					h1.logo.pull-left: a( href="https://www.iguanafix.com.ar/", target="_blank"): img(src="https://static.iguanafix.com/static/v2/images/logo.svg", alt="IguanaFix").img-responsive
		//- END Header



		//- Contenido de las paginas interiores -------------------------------

		block content

		//- END Contenido de las paginas interiores -------------------------------


		//- Footer -------------------------------
		footer.footer
			.container
				.col-md-3
		//- END Footer

		.modal.fade.bs-example-modal-sm.ifix-modal#modalAviso(tabindex="-1" role="dialog")
			.modal-dialog.modal-sm(role="document")

				.modal-content
					.modal-header
						h2 Condiciones del descuento

					.modal-body
						p Por favor tené en cuenta que el descuento se aplicará en el momento en el que ingreses tu número de tajeta de crédito.

					.modal-footer
						a(href="#!").btnclose.btn.btn-secondary.btn-md-wide.hoverable.hvr-tr_bx-sh
							<span class="anim"></span> Entendido


		//- jQuery -------------------------------
		if jQuery
			script( src="https://code.jquery.com/jquery-3.2.1.min.js", integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=", crossorigin="anonymous" )

		//- BootstrapJS -------------------------------
		if BootstrapJS
			script( src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" )

		script( src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" )

		script.
			var dataLayer = dataLayer || [];
			dataLayer.push({
				'country': 'AR',
				'device': 'Desktop',
				'customer': '0',
				'usertype': 'anonymous',

				'location': 'AR',
				'pagetype': 'mercadopago-2018'
			 });


		script.

			$(document).ready(function(){
				var ifixUrl = 'https://www.iguanafix.com.ar';
				var utm10 = '?utm_source=mercadopago&utm_campaign=mp-2018a&utm_medium=email';
				var recipient;

				$.ajax({
					type: 'GET',
					url: 'products.json',
					data: '{}',
					async: false,
					cache: false,

					dataType: 'json',
					success: function (data) {

						var listElements = '';						

						$.each(data, function (i, item) {
							var discount = data[i].RegularPrice - ((data[i].RegularPrice * 10) / 100);

							listElements += ' \
								<li class="col-md-3 col-sm-3 col-xs-12">\
									<div class="product-box shadow-box text-center">\
										<a class="shadow-box-link" data-url="' + ifixUrl + data[i].Link + utm10 + '" data-toggle="modal" data-target="#modalAviso">\
											<img class="img-responsive" src="'+ data[i].Image +'" alt="'+ data[i].Product +'">\
										</a>\
										<div class="main-info">\
											<h3>'+ data[i].Product +'</h3>\
											<small class="crossPrice">\
												Desde <span>$'+ data[i].RegularPrice +'</span> <strong>$' + discount + '</strong>\
											</small>\
											<a class="btn btn-secondary btn-md-wide hoverable hvr-tr_bx-sh" data-url="' + ifixUrl + data[i].Link + utm10 +'" data-toggle="modal" data-target="#modalAviso">\
												<span class="anim"></span> Contratar\
											</a>\
										</div>\
									</div>\
								</li>';

						});

						$('#productsHome').append(listElements);

						},

						error: function (msg) {

							console.log(msg.responseText);
						}
				});


				$('.carshops-carousel').slick({
					dots: true,
					infinite: true,
					speed: 500,
					slidesToShow: 1,
					slidesToScroll: 1,
					centerMode: true,
					arrows: false,
					centerPadding:'25%',
					autoplay: true,
					autoplaySpeed:5000,
					responsive: [
						{
							breakpoint: 768,
							settings: {
								centerMode: false
							}
						}
					]
				});

				$('#productsHome').slick({
					dots: true,
					infinite: true,
					speed: 500,
					slidesToShow: 4,
					slidesToScroll: 3,
					arrows: true,
					autoplay: false,
					responsive: [
						{
							breakpoint: 768,
							settings: {
								slidesToShow: 2,
								slidesToScroll: 2
							}
						}
					]
				});


				$.ajax({
					type: 'GET',
					url: 'products.json',
					data: '{}',
					async: false,
					cache: false,

					dataType: 'json',
					success: function (data) {

						$('#search').keyup(function(){
							var searchField = $(this).val();
							if(searchField === '') {
								$('#results .content').html('');
								$('#results').hide();
								return;
							}
							
							var regex = new RegExp(searchField, "i");
							var output = '<div class="wrapper">';
							var count = 1;

							$.each(data, function (key, val) {
								var discount = data[key].RegularPrice - ((data[key].RegularPrice * 10) / 100);

								if ((val.RegularPrice.search(regex) != -1) || (val.Product.search(regex) != -1)) {
									output += '<a data-url="' + ifixUrl + data[key].Link + utm10 +'" data-toggle="modal" data-target="#modalAviso" class="col-md-12 col-xs-12">';
										output += '<div class="col-md-2 col-xs-2"><img class="img-responsive" src="'+val.Image+'" alt="'+ val.Product +'" /></div>';
											output += '<div class="col-md-8 col-xs-8">';
												output += '<strong>' + val.Product + '</strong> <span class="from"><span>$' + val.RegularPrice + '</span> <strong>$' + discount + '</strong>';
											output += '</div>';
									output += '</a>';

									if(count%2 == 0){
										output += '</div><div class="wrapper">'
									}
									count++;
								}

								//console.log(key);
							});
							output += '</div>';
							$('#results').show();
							$('#results .content').html(output);
						});

						$('body').click(function() {
							$('#results').fadeOut(300);
						});


					},

					error: function (msg) {
						console.log(msg.responseText);
					}
				});

				$('#modalAviso').on('show.bs.modal', function (event) {
					var button = $(event.relatedTarget); // Button that triggered the modal
					recipient = button.data('url');
					dataLayer.push({'pagetype': 'mercadopago-2018','event': 'modalShow'})
					//console.log(event.relatedTarget);
				});

				$('#modalAviso').on('hidden.bs.modal', function (event) {
					dataLayer.push({'pagetype': 'mercadopago-2018','event': 'modalClose'})
				});
				
				$('#modalAviso .btnclose').on('click', function (event) {
					var win = window.open(recipient, '_blank');
					if (win) {
						//Browser has allowed it to be opened
						win.focus();
					} else {
						//Browser has blocked it
						alert('Por favor, habilitá el acceso a ventanas emergentes.');
					}
				});

			})
