.ifix-carpaint-quote {
  #cards-container {
    margin-top:30px;
  }
  .ifix-step {
    display:none;
    .popup-toggle {
      font-size:1em;
    }
  }
  .ifix-card-title {
    font-weight:normal;
    line-height: 1.3;
  }
  .ifix-card-list-selection {
    @include mediaQueries (max-width, $width_768) {
      li:nth-of-type(odd) {
        margin-bottom: 15px;
      }
      li:nth-of-type(even) {
        margin-top: 15px;
      }
    }

  }
  .insurance-data{
    .insurance-input, .insurance-title{
      display:block;
    }
    .contact-title{
      display:none;
    }
  }
  .select-carshop-title {
    background-color:$ifix-blue;
    padding-left: 25px;
    margin-bottom:20px;
    .ifix-card-title {
      color: $ifix-white;
      margin-top:20px;
      i { padding-left:10px;}
    }
  }
  .carpaint-prices {
    margin-top:100px;
    margin-bottom:100px;
    padding-bottom:100px;
    background-position: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    @include mediaQueries (max-width, $width_768) {
      padding-bottom: 125px;
      background-size: 135%;
      background-position: 20% 100%;
    }
    .ifix-title-wrapper{
      text-align: left;
      h2::after {
        right:auto;
        width:40%;
      }
      p{ font-size: 1.1em; }
    }
    .icon-wrapper {
      width: 25px;
      float: left;
      background-color: $ifix-blue;
      border-radius: 100%;
      height: 25px;
      margin-right: 5px;
      img{
        width: 16px;
        margin: 5px auto;
      }
    }
  }
  .popup-wrapper {
    position:relative;
  }
  .popup-toggle{
    color: $ifix-blue;
    font-size:1.2em;
    margin-bottom: 20px;
    display: block;
    &:hover{
      text-decoration: underline;
      cursor:pointer;
    }
  }
  .car-sketch-popup{
    position: absolute;
    left: 270px;
    width: 380px;
    background: $ifix-white;
    padding: 0 25px 15px 25px;
    border-radius:5px;
    z-index:5;
    top: -30px;
    display:none;
    @include mediaQueries (max-width, $width_768) {
      width: 100%;
      left: 0;
      height: 100%;
      position: fixed;
      top: 0;
      z-index: 4000;
      padding: 25px;
    }
    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      top: 20px;
      box-sizing: border-box;
      border: 1em solid $ifix-black;
      border-color: transparent transparent $ifix-white $ifix-white;
      transform-origin: 0 0;
      transform: rotate(45deg);
      box-shadow: -8px 10px 15px 0 rgba(0, 0, 0, 0.1);
      left: 0px;
    }
    &.visible{
      display:block;
    }
    h5{
      text-transform: none;
      letter-spacing: 1px;
      &::after {
        content: '';
        border-bottom: 1px solid $ifix-blue;
        display: inline-block;
        margin: 15px auto 0 auto;
        position: absolute;
        left: 25px;
        width: 25%;
        height: 1em;
      }
    }
    button.close{
      position: absolute;
      top: 10px;
      right: 15px;
    }
    .car-sketch-img {
      width:330px;
      position:relative;
      @include mediaQueries (max-width, $width_768) {
        width:280px;
        position: relative;
        margin-top: 40px;
      }
    }
    small {
      color:$ifix-blue;
      display: block;
      line-height: 1.3em;
    }
  }
  .line-across{
    color: $ifix-gray;
    font-size: 1.2em;
    font-weight: bold;
    margin-top:15px;
    @include mediaQueries (min-width, $width_768) {
      margin:0;
      position:absolute;
      left:40%;
    }
    &::before,
    &::after{
      content: "";
      border-top: 1px solid $ifix-gray10;
      display: inline-block;
      width: 39%;
      transform: translateY(-4px);
      @include mediaQueries (min-width, $width_768) {
        border-top:none;
        width:1px;
      }
    }
    &::before{
      margin: 0 1rem 0 0;
    }
    &::after{
      margin: 0 0 0 1rem;
      @include mediaQueries (min-width, $width_768) {
        border-left:1px solid $ifix-gray10;
        height:40px;
        display: block;
        transform: translateX(5px);
      }
    }
  }
  .carpaint-carshops {
    .carshop-item {
      max-width:50%;
      padding:0 20px;
      position: relative;
      margin-bottom: 50px;
      &.slick-current {
        .review-box { opacity:1; }
      }
    }
    .review-box {
      @include mediaQueries (min-width, $width_768) {
        position: absolute;
        top: 20%;
        background-color: $ifix-white;
        width: 50%;
        right: -5%;
        z-index: 5;
        padding: 20px;
        opacity:0;
        transition: opacity .25s ease-in-out;
        -moz-transition: opacity .25s ease-in-out;
        -webkit-transition: opacity .25s ease-in-out;
      }
      @include mediaQueries (max-width, $width_768) {
        margin-top:20px;
        hr{
          margin-top: 10px;
          margin-bottom: 10px;
        }
      }
      .rating {
        i {
          color: $ifix-blue;
          font-size: 1.3em;
        }
      }
      .review-text{
        font-size: 0.8em;
        line-height: 1.8em;
      }
      span {
        display:block;
        &.review-user { font-weight:bold; font-size: 0.9em;}
        &.review-location { font-size:0.8em; line-height: 1em; }
      }
    }
    .slick-dots li.slick-active button:before { color:$ifix-blue; }
    .slick-dots li button:before { font-size: 10px; }
  }
}

.ifix-car-modal {
  .close {
    right: 20px;
    position: absolute;
    top: 10px;
    margin-top:0;
  }
  h4 {
    font-weight: bold;
    margin-bottom: 20px;
    @include mediaQueries (max-width, $width_425) {
      margin-top: 25px;
    }
    &.title-underline {
      &::after {
        content: '';

        border-bottom: 2px solid $ifix-blue;
        display: inline-block;
        margin: 15px auto 0 auto;

        position: absolute;
        left: 0;
        right: 0;

        width: 25%;
        height: 1em;
      }
    }
    span {
      color:$ifix-blue;
      display:block;
      line-height: 1.7em;
      font-weight: bold;
    }
  }
  .ifix-date-picker .swiper-button-next,
  .ifix-date-picker .swiper-button-prev {
    top:35%;
  }
  .shop-times {
    font-size: 14px;
    font-weight: bold;
    color: $ifix-gray;
    line-height: 1.5em;
    img {
      width: 25px;
      display: inline-block;
      margin-right: 7px;
      margin-top: -5px;
      height:auto;
    }
  }
  .prev-btn {
    position: absolute;
    left: 20px;
    margin-top: 10px;
    @include mediaQueries(max-width,$width_360) { margin-top: 7px; }
  }
  @include mediaQueries(max-width,$width_768) {
    .login-card-trigger {
      float: right;
      margin-top: -10px;
      position: relative;
      top: auto;
      right: auto;
    }
  }
  .login-card-wrapper {
    top:auto;
    p { text-align: left; }
    .close-login { top: -30px; }
  }
}

#carpaint-visit {
  .modal-body {
    min-height:226px;
    @include mediaQueries(min-width,$width_425) {
      margin: 0;
    }
  }

  .mt-textarea-wrapper {
    margin-top:30px;
    &::after {
      bottom: 30px;
    }
  }
}

#carpaint-location {
  .modal-dialog {
    @include mediaQueries(min-width,$width_768) {
      width: 640px;
    }
  }
  .modal-body{
    margin:0;
    padding-top:0;
    margin-bottom: 10px;
    button{
      margin-top:25px;
      &[disabled]:hover {
        cursor: not-allowed;
      }
    }
  }
}
//google places autocomplete
.pac-container {
  z-index:2000;
}

#carpaint-success {
  .visit-shop{
    margin-bottom:25px;
    img {
      float: left;
      margin: 0 15px;
      max-width: 70px;
      @include mediaQueries(max-width,$width_425) {
        margin:0;
        margin-right: 5px;
      }
    }
    h4{
      letter-spacing: 1px;
      font-weight: bold;
      line-height: 1.4em;
      font-size: 1.2em;
      span{
        display:block;
      }
    }
  }
  .details-row {
    margin-bottom: 25px;
  }

  .address-row {
    border-top: 2px solid $ifix-gray2;
    padding: 15px;
    margin-bottom: 25px;
    position: relative;
    padding-top: 30px;
    p{
      color:$ifix-gray;
      font-size: 1em;
      margin-bottom: 0;
      letter-spacing: 0;
    }
    h6{
      text-transform: none;
      letter-spacing: 1px;
      font-weight: 600;
      margin-top: 0;
      padding-top: 0;
      font-style: normal;
      font-size: 1.2em;
      color:$ifix-gray;
      margin-left: 20px;
      @include mediaQueries(max-width,$width_425) {
        line-height: 1.9em;
        font-size: 1em;
      }
      span{
        display:block;
        @include mediaQueries(max-width,$width_425) {
          line-height: 1em;
        }
      }
      &::before {
        content:" ";
        width:10px;
        height:10px;
        border-radius:100%;
        background-color:$ifix-blue;
        margin-left: -25px;
        margin-top: 7px;
        position:absolute;
        display:block;
      }
      &:first-child {
        &::after {
          content:" ";
          width:2px;
          height:46px;
          background-color:$ifix-gray5;
          display:block;
          position:absolute;
          top: 50px;
          margin-left: -21px;
        }
      }
    }

  }
  #map {
    width:100%;
    height:300px;
    margin-bottom: 20px;
  }
  h4.ifix {
    margin-bottom:0;
    display:inline-block;
    font-weight:bold;
    letter-spacing: 1px;
    span {
      display:block;
      font-size: 0.7em;
      margin-top: 5px;
    }
  }
}

@import
'../components/_carShopBox',
'../components/_carHint',
'../components/_sendingAnimation';
